/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 5rem;
}

span {
    display: block;
}

/* header */

header {
    height: 80px;
    display: flex;
    align-items: center;
    /*debug*/
    background-color: lightblue;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    /*debug*/
    background-color: lavender;
}

#nav-left,
#nav-right,
#nav-left ul,
#nav-right ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}


/* hero */

#hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;

    /*debug*/
    background-color: lavenderblush;
}

#hero-container {
    width: 70%;

    /*debug*/
    background-color: lavender;
}

#hero-left {
    width: 40%;

    /*debug*/
    background-color: lightblue;
}

#hero-left span {
    display: block;
}

#hero-right {
    width: 60%;

    /*debug*/
    background-color: lemonchiffon;
}

#hero-img {
    width: 100%;
    height: 500px;
}

#hero-wrapper img {
    width: 100%;
}

#hero-wrapper {
    display: flex;
    justify-content: space-between;
}


/* main section */

/* main section - top */

.main-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
}

.main-container {
    width: 60%;
}

#billing-plans {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.plan-column {
    width: 30%;
    border: 1px solid black;
}

.column-title {
    text-align: center;
    border-bottom: 1px solid black;
}

.plan-column li {
    display: flex;
    align-items: baseline;
}

.plan-column i {
    padding-right: 5px;
}

/* contacts */

#dropbox-contacts {
    border: 1px solid black;
}

#contacts-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#contacts-left {
    width: 50%;
}

#contacts-right {
    width: 30%;
    text-align: end;
}

#dropbox-contacts i {
    padding-right: 5px;
}

/* main section - middle */

#solutions-container {
    display: flex;
    width: 60%;
}

#solutions-left {
    width: 50%;

    /*debug*/
    height: 500px;
    background-color: lemonchiffon;
}

#solutions-right {
    max-width: 50%;
}

/* main section bottom */

#business-container {
    width: 60%;
}

#business-cards-list{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.business-card {
    width: 30%;
}

.bns-card-img {
    height: 200px;
    width: 100%;
    background-color: lemonchiffon;
}
